.display-chart {
  background-color: white;
  width: 390px;
}
.customers-buys {
  background-color: white;
  width: 390px;
  padding-top: 30px;
  height: 84px;
}
.height {
  background-color: white;
  width: 390px;
}
